---
---

@import "{{ site.theme }}";


.inner {
  width: 900;
  margin: 0 auto;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  font-weight: 300;
  text-align: center;
  border: 1px solid #ebebeb;
}
